@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
    line-height: 1.6em;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    background-color: #121212;
    color: white;
    box-shadow: 0px 0px 47px 5px rgba(0,0,0,1) inset;
}

img {max-width: 100%;}
ul {list-style-type: none; padding: 0; margin: 0;}

.darkbackground {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.623);
    z-index: 100;
    width: 0vw;
    height: 1000vh;
}

/* Global */
a {
    text-decoration: none;
    color: white;
}

p {
    line-height: 1.6em;
}

 h2 {
    margin-top: 0;
    font-size:60px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-align: start;
    line-height: 70px;
    opacity: 0;
    filter: brightness(15px);
    transform: translateY(-20vh);
    transition: transform 2s, opacity 2.5s;
}
@media(max-width:400px){
    h2 {font-size:50px;}
}



/*  */



/*  */
.landingImg {
    background: url(./IMAGES/pexels-luis-ruiz-991422.jpg) center center;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    box-shadow: -1px -9px 13px 2px rgba(18,18,18,1) inset;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.landingImgText {
    margin-top: -8em;
}

.landingImg h1 {
    font-size: 120px;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 500;
    opacity: 0;
    animation-name: view;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

.landingImg p {
    background-color: rgba(255, 255, 255, 0.728);
    color: black;
    padding: .2em 0em;
    font-size: 25px;
    text-align: center;
    border-radius: 25px;
    font-weight: 500;
    opacity: 0;
    animation-name: view;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;

}

.landingImg i {
    position: absolute;
    bottom: 1em;
    font-size: 40px;
    cursor: pointer;
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes arrow {
    0% {transform: translateY(0px); opacity: 0;}
    50%  {transform: translateY(-20px);opacity: 1;}
    100% {transform: translateY(0px); opacity: 0;}
    
}
@keyframes view {
    from {opacity: 0;}
    to {opacity: 1;}
}
@media(max-width:645px){
    .landingImg h1 {
        font-size: 80px;
    }
    
    .landingImg p {
        font-size: 20px;
    }
}
@media(max-width:400px){
    .landingImg h1 {
        font-size: 60px;
    }
    
    .landingImg p {
        font-size: initial;
    }
}




/*  */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    padding-bottom: 2em;
    gap: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition-property: box-shadow;
    transition-duration: .8s;
}

.projectText {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2em;
    width: 40%;
    gap: 1vw;
    transform: translateX(20vw);
    transition: 1s;
    opacity: 0;

}

.projectText p:nth-child(1) {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    width: 80%;
    margin: 0;
    text-decoration: underline;
}

.projectText p:nth-child(2) {
    text-align: center;
    font-size: 20px;
    width: 80%;
    margin: 0;
}

.projectText p:nth-child(2) span + span {
    text-decoration: underline;
    font-style: italic;
}

.projectText a {
    display: block;
    text-align: center;
    border: none;
    border-radius: 4em;
    padding:  .3em 1em;
    font-size: 20px;
    background: black;
    color: white;
    cursor: pointer;
    transition-property: box-shadow, transform;
    transition-duration: .3s;
}

.project a+a {
    margin-top: 20px;
}

.project a+a:hover {
    transform: scale(1);
    box-shadow: 0px 1px 20px 1px white;
}

.projectText1 p + a:hover,
.projectText1 p + a:active {
    transform: scale(1);
    box-shadow: 0px 1px 20px 1px rgb(220, 106, 255)
}

.projectText2 a:active,
.projectText2 a:hover {
    transform: scale(1);
    box-shadow: 0px 1px 20px 10px  rgba(0, 0, 0, 0.525);

}

.projectText3 a:active,
.projectText3 a:hover {
    transform: scale(1);
    box-shadow: 0px 1px 20px 7px #816b16;
}

.projectText4 a:active,
.projectText4 a:hover {
    transform: scale(1);
    box-shadow: 0px 1px 20px 7px #58798D;
}

.projectText5 a:active,
.projectText5 a:hover {
    transform: scale(1);
    box-shadow: 0px 1px 20px 7px #302b63;
}



.project img{
    width: 50%;
    object-fit: cover;
    object-position: top;
    box-shadow: 0px 1px 20px 7px black;
    transform: translateX(-20vw);
    opacity: 0;
    filter:blur(10px);
    transition: transform 1s, opacity 2.5s;
}

.slider {
    width: 100%;
}

.slider .projectText {
    width: 40%;
}
.project #currentImg {
    width: 50%;
    height: 26vw;
    background-image: url(./IMAGES/MarketTemplate_Page.jpeg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 1px 20px 7px black;
    transition: 2s;
}


@media(max-width:1245px) {
    .projectText p:nth-child(1){
        font-size: 30px;
    }
    .projectText p:nth-child(2){
        font-size:20px;
    }
    .projectText a{
        font-size: 16px;
    }
}

@media(max-width:900px) {

    .project{
        display: block;
    }
    .projectText,
    .slider .projectText{
        display: block;
        margin: 10vw auto;
        width: 90%;
    }
    .project img{
        width: 90%;
        display: block;
        margin: auto;
    }
    .projectText p:nth-child(1){
        width: 100%;
        font-size: 30px;
    }
    .projectText p:nth-child(2) {
        width: 100%;
        font-size: 20px;
        margin: 20px 0px;
    }
    .projectText a {
        display: block;
        margin: auto;
        text-align: center;
        font-size: initial;
        width: 50%;
        padding: .4em .5em;
    }
    .slider {
        height: initial;
    }

    .project #currentImg{
        width: 90vw;
        height: 48vw;
        margin: auto;
    }
}
@media(max-width:400px){
    .project img,
    .project #currentImg{
        width: 100vw;
    }
}
@media(max-width:375px){
    .projectText a {
        width: 70%;
        padding: .4em .5em;
    }
}


    .StaticPagesConatiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:3em;
    }

    .StaticPagesConatiner__TitleContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 5em;

        opacity: 0;
        filter: brightness(15px);
        transform: translateY(20vh);
        transition: transform 2s, opacity 2.5s;
    }

    .StaticPagesConatiner__TitleContainer__Title {
        font-size:31px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        width: 90%;
    }

    .StaticPagesConatiner__TitleContainer__Des {
        font-size:20px;
        width: 80%;
    }

    .StaticPagesConatiner__TitleContainer__Link {
        border-radius: 4em;
        padding:  .5em 1em;
        font-size: 20px;
        background: black;
        color: white;
        cursor: pointer;
        transition: .3s;

    }

    .StaticPagesConatiner__TitleContainer__Link:hover {
        transform: scale(1);
        box-shadow: 0px 1px 20px 1px white;
    }

    .StaticPagesConatiner__StaticPages {
        padding: 0em 4em;
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        gap:50px;
        flex-wrap: wrap;
        margin: auto;

        opacity: 0;
        filter: brightness(15px);
        transform: translateY(20vh);
        transition: transform 2s, opacity 2.5s;
    }
    
    .StaticPages__Project {
        text-align: center;
        width: 300px;
    }

    
    .StaticPages__Project__Link:hover  .StaticPages__Project_Img{
        box-shadow: 0px 1px 20px 7px black; 
        transform: scale(1.02); 
        filter: brightness(100%);
   }
    
    .StaticPages__Project__Link:hover  .StaticPages__Project__Des {
        opacity: 1;
   }

    .StaticPages__Project_Img {
        width: 100%;
        height: 80%;
        object-fit: cover;
        object-position: top;
        filter: brightness(30%);
        transition: .5s;
        cursor:pointer;
    }


    .StaticPages__Project__Des {
       font-weight: bold;
       font-style: italic;
       opacity: 0;
       transition: .5s;
    }
    @media(max-width:1128px){
        .StaticPagesConatiner__StaticPages {
            gap:0px;
            padding: 0em 2em;
        }
        .StaticPages__Project {
            width: 40%;
            min-width: 280px;
        }
    }
    @media(max-width:700px){
        .StaticPagesConatiner__StaticPages {
            justify-content: center;
            gap:5em
        }
        .StaticPages__Project {
            width: 90vw;
            min-width: 280px;
        }

       .StaticPages__Project_Img{
            box-shadow: 0px 1px 20px 7px black; 
            transform: scale(1.02); 
            filter: brightness(100%);
       }
        
        .StaticPages__Project__Des {
            opacity: 1;
            font-size: 20px;
       }
    }
/*  */
.ContactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    position: relative;
}

.Contact {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0em 5em;
    gap: 3em;
    margin: auto;
    margin-bottom: 10vh;
}
.Contact .aboutMeContainer {
    flex:1;
}

.Contact .des {
    width:100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    filter: brightness(15px);
    transform: translateY(20vh);
    transition: transform 2s, opacity 2.5s;
}

.desText {
    background-color: #4343432a;
    padding: .5em 2em;
    border-radius: 5px;
}

.resume {
    text-decoration: underline;
    opacity: .5;
}

.resume:hover{
    opacity:1;
}

.skillList {
    display: flex;
    justify-content: start;
    gap:3vw;
}

.skillList ul li {
    font-weight:bold;
    font-style: italic;
    font-family: monospace;
    font-size: 16px;
}


form {
    padding: 1em 3em;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap:15px;
    border:1px solid;
    transform: translateY(-20vh);
    opacity: 0;
    filter:blur(10px);
    transition: transform 2s, opacity 2.5s;
}

form h3 {
    font-size: 30px;
    font-weight: 500;
    width: 200px;
    text-decoration: underline;
}

form input,
textarea {
    all: initial;
    border-radius: 3px;
    width: 100%;
    padding: .5em 0em;
    padding-left: .3em;
    color:white;
    font-family: inherit;
    border: 1px solid;
}
::placeholder {
    font-family: poppins,Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:white;
    opacity: .5;
}

form button {
    all: initial;
    color:white;
    font-family: poppins,Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: 1px solid;
    width: 100px;
    text-align: center;
    padding: .4em 0em;
    opacity: .5;
    transition: .2s;
}

form button:hover {
    opacity: 1;
}

form button:active {
    opacity: .5;
}
@media(max-width:1300px){
    .ContactContainer {
        margin-top: 2em;
    }
    .Contact {
        flex-direction: column;
        align-items: center;
        gap:5em;
        width: 70vw;
    }

    form {
        width: 60vw;

    }
}
@media(max-width:600px){
   .Contact {
     padding: .5em;
     width: 95vw;
   }
   form {
    width: 80vw;
    padding: .5em 1em;
   }
}




#preloader {
    background: rgb(0, 0, 0) url(./IMAGES/loader.gif) no-repeat center center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    transition: 1s;
}


.reveal {
    opacity: 1 !important;
    transform: translateX(0vw) !important;
    transform: translateX(0vh) !important;
    filter:none !important;
}



